#!/usr/bin/env bash

# system
alias diff="colordiff"
alias space="xfconf-query -c xfwm4 -p /general/workspace_count -s"
alias weather="curl wttr.in"
alias dl="youtube-dl"
alias dl-mp3="youtube-dl --extract-audio --audio-format mp3 --audio-quality 0"
alias rec="pactl load-module module-loopback latency_msec=20"
alias unrec="pactl unload-module module-loopback"
alias vfzf='vim $(fzf)'

cheat() {
    curl cheat.sh/$1
}

# python
venv() {
    source venv/bin/activate > /dev/null 2>&1 ||
        source env/bin/activate > /dev/null 2>&1 ||
        { echo "No env. Create?"
        read create
        if [[ "$create" == "y" ]]; then
            python3 -m virtualenv venv
            venv
        fi }
}

# colours
alias ls="ls --color=auto"
alias grep="grep --colour=auto"
