[credential]
	helper = store
[fetch]
	prune = true
[rerere]
	enabled = true
[color]
	ui = auto
[user]
	name = airreality
	email = airunreality@gmail.com
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig
[push]
	autoSetupRemote = true
[rebase]
	updateRefs = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
