[credential]
	helper = store
[fetch]
    prune = true
[rerere]
    enabled = true
[color]
    ui = auto
[user]
    name = airreality
    email = tonygpx@yandex.ru
[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
