#!/usr/bin/env bash

alias ls="exa"
alias l="ls -la"
alias grep="grep --colour=auto"
alias diff="colordiff"
alias p1="ping 1.1.1.1"
alias p8="ping 8.8.8.8"

cheat() {
    curl "cheat.sh/$1"
}

vfzf() {
    local file
    if [[ $# -ne 0 ]]; then
        file=$(fzf -q "$*")
    else
        file=$(fzf)
    fi
    if [[ -n "$file" ]]; then
        vim "$file"
    fi
}

venv() {
    poetry shell
}
